<header>
    <nav class="site-nav grid">


        <h1>Postr</h1>
        <ul>
            <li><a href="/" class="<%= activeTab === 'list' ? 'active' : '' %>">Home</a></li>
            <li><a href="/music" class="<%= activeTab === 'music' ? 'active' : '' %>">Music</a></li>
            <li><a href="/movies" class="<%= activeTab === 'movies' ? 'active' : '' %>">Movies</a></li>
            <li><a href="/podcasts" class="<%= activeTab === 'podcasts' ? 'active' : '' %>">Podcasts</a></li>
            <li><a href="/login" class="<%= activeTab === 'login' ? 'active' : '' %>">Login</a></li>
        </ul>
      </nav>
      <style>
        h1,h2,h3,h4{
        color: #DDDBFF;
        font-weight: normal;
        }
        p,a,li{
            color: #9893D8;
        }
        h1,h3{
            font-size: 1.2em;
        }
        .site-nav{
        margin: 0 20px;

        }
        .site-nav ul{
            display: none;
        }
        .site-nav h1{
            grid-column: 1/4;
            grid-row: 1;
            padding-bottom: 10px;
            border-bottom: 3px solid var(--primary);
        }
      </style>
</header>