<div class="profile-card" profile-id="<%= userProfile.id %>">
  <div class="profile-info">
    <canvas id="glCanvas"></canvas>
    <script src="/js/shader.js"></script>
    <div class="profile-content-wrapper">
      <div class="img-container">
        <div class="profile-img">
          <img src="<%= userProfile.profileImageUrl || '/Pictures/profile-default.webp' %>" alt="Profile Image">
        </div>
      </div>
      <div class="p-info">
        <h2>
          <%= userProfile.username %>
        </h2>
        <% if (userProfile.currentlyPlaying && userProfile.currentlyPlaying.name && userProfile.currentlyPlaying.artists
          && userProfile.currentlyPlaying.artists.length> 0) { %>
          <p style="color: lightgreen;">
            ● Listening to <%= userProfile.currentlyPlaying.name %> -
              <%= userProfile.currentlyPlaying.artists.join(', ') %>
          </p>
        <% } %>
        <% if (!profileOwner) { %>
          <div class="btn-container">
            <button id="follow-btn" type="button" class="<%= following ? 'followed' : '' %>">
              <i class="fas <%= following ? 'fa-user-check' : 'fa-user-plus' %>"></i>
            </button>
            <button type="button"><i class="fas fa-envelope"></i></button>
          </div>
        <% } else { %>
          <div class="btn-container">
            <button type="button"><i class="fas fa-user-edit"></i></button>
          </div>
        <% } %>        
      </div>
    </div>
  </div>
</div>